@import 'src/styles/framework/_variables';
@import 'src/styles/framework/_notification';

.container {
  position: relative;
  top: (($icon-size-notification - 16) / 2);
  margin-left: 16px;
}

.action {
  cursor: pointer;
  text-decoration: underline;
}

.divider {
  margin-left: ($padding-notification / 2);
  margin-right: ($padding-notification / 2);
}

.success {
  @include notification-actions-colors($color-dark-success-notification);
}

.info {
  @include notification-actions-colors($color-dark-info-notification);
}

.warning {
  @include notification-actions-colors($color-dark-warning-notification);
}

.danger {
  @include notification-actions-colors($color-dark-danger-notification);
}

.isFilled {
  @include notification-actions-colors-filled();
}

.successSvgIcon {
  @include notification-icon-colors($color-dark-success-notification);
}

.infoSvgIcon {
  @include notification-icon-colors($color-dark-info-notification);
}

.warningSvgIcon {
  @include notification-icon-colors($color-dark-warning-notification);
}

.dangerSvgIcon {
  @include notification-icon-colors($color-dark-danger-notification);
}

.isFilledSvgIcon {
  @include notification-icon-colors-filled();
}
