.style-guide {
  @include display(flex);
  @include align-items(stretch);

  &__menu {
    li {
      padding: 2px 0;
      font-size: 1.6rem;
    }

    &.m-expanded {
      width: 300px;
      padding: 20px;
    }

    &.m-minified {
      display: none;
    }
  }

  &__content {
    @include flex(24);
    padding: 0 20px 20px 20px;
    min-height: calc(100% - 49px);
    border-left: 1px solid $color-black;
  }

  &__section-header {
    font-size: 2.0rem;
    font-weight: 600;
    border-bottom: 1px solid lightgray;
    margin: 15px 0;
    padding-bottom: 5px;
  }

  &__method-definition {
    font-weight: 600;
  }

  &__properties {
    margin-top: 10px;
    width: 100%;
  }

  &__property th {
    text-align: left;
    font-size: 1.4rem;
  }

  &__property-type {
    min-width: 90px;
  }

  &__property-default {
    min-width: 110px;
  }

  &__property-valid-values {
    min-width: 100px;
  }

  &__example {
    &:not(:last-child) {
      padding-bottom: 5px;
      margin-bottom: 5px;
      border-bottom: 1px solid lightgray;
    }
  }
}

@media #{$small-screen-media-query} {
  .style-guide {
    &__menu {
      &.m-expanded {
        display: none;
      }

      &.m-minified {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000;
      }

      button {
        height: 39px;
      }
    }
  }
}

