.application {
  color: $color-text;
}

.main-application {
  margin: 0 auto;
  position: relative;
  top: 49px;
}

@media all and (min-width: 1024px) and (max-width: 2400px) {
  .main-application {
    min-width: 1024px;
    max-width: 1600px;
  }
}
