.application {
  color: $color-text;
}

.main-application {
  margin: 0 auto;
  position: relative;
  top: 49px;
}

@media #{$large-screen-media-query} {
  .main-application {
    min-width: 1024px;
    max-width: 1600px;
  }
}
