.application header.fixed-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 49px;
  z-index: 999;
  background-color: $color-primary1;
}

.application-header {
  margin: 0 auto;
  height: 49px;

  a {
    color: $color-white;

    &:hover,
    &:active {
      color: $color-white;
      text-decoration: none;
    }
  }

  ul {
    margin: 0 25px;
    list-style: none;
  }

  li {
    padding: 0 6px;
    display: inline-block;
  }
}

@media #{$small-screen-media-query} {
  .application-header {
    min-width: 1024px;
    max-width: 1600px;
  }
}
