@import '~src/styles/framework/_variables';

.container {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: $spacing-extra-tiny;
}

.svgIcon {
  fill: $color-button;

  &:hover {
    fill: $color-white;
  }
}

.svgIconLink {
  fill: $color-link;
}
