@import 'src/styles/framework/_variables';
@import 'src/styles/framework/_mixins';
@import 'src/styles/framework/_form';

.container {
  display: flex;
  align-items: center;

  &:not(first-child) {
    padding-top: 4px;
  }
}

.valid {
  @include form-validation-color($color-success);
}

.invalid {
  @include form-validation-color($color-danger);
}

.validationIcon {
  height: $size-validation-icon-input;
  width: $size-validation-icon-input;
  margin-right: $padding-validation-icon;
}

.validValidationIcon {
  @include form-validation-icon-color($color-success);
}

.invalidValidationIcon {
  @include form-validation-icon-color($color-danger);
}
