@import 'src/styles/framework/_variables';
@import 'src/styles/framework/_mixins';
@import 'src/styles/framework/_form';

.container {
  display: inline-block;
}

.requiredIcon {
  @include form-element-required-icon();
}
