@import 'src/styles/framework/_variables';

.container {

}

.handle {
  user-select: none;
  cursor: pointer;
}

.handleSvgIcon {
  height: 10px;
  width: 10px;
  margin-right: $spacing-extra-tiny;
}

.list {
  display: none;
}

.isActiveList {
  display: block;
}
