@import 'src/styles/framework/_variables';

.container {
  padding: $padding-card $padding-card 0 $padding-card;
  margin: 0;

  &:first-child {
    border-top-left-radius: $border-radius-card;
    border-top-right-radius: $border-radius-card;
  }
}
