html,
body,
.react-bootstrap-element,
.application {
  height: 100%;
  background-color: $color-gray1;
}

.main-application {
  min-height: 100%;
  padding: 16px;
  z-index: 100;
  margin: 0 auto;
}

@media #{$main-navigation-media-query} {
  .application {
    margin-left: 250px;
  }

  .main-application {
    min-width: 1030px;
    max-width: 1200px;
  }
}
