$component-identifier: '.framework-properties';

#{$component-identifier} {
  &__property {
    @include display(flex);

    &:not(:last-child) {
      #{$component-identifier}__property-description {
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid $color-gray3;
      }
    }

    &-details {
      @include flex(1);
    }

    &-name {
      @include flexbox-value-width(150px);

      text-align: right;
      font-weight: 500;
      padding-right: 24px;
    }

    &-default-value {
      color: $color-secondary-text;
    }

    &-description {
      padding-top: 16px;
    }
  }
}

$component-identifier: '';
