$component-identifier : '.main-navigation';

#{$component-identifier} {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 16px 0;
  width: 250px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: $color-white;
  z-index: 200;

  &.is-active {
    display: block;
    z-index: 1701;
  }

  &__navigation-item {
    display: block;
    padding: 8px 16px;
    cursor: pointer;

    &.m-primary {
      font-weight: 500;
    }

    &:first-child {
      padding-top: 0px;
    }

    &.m-secondary {
      padding: 4px 16px 4px 32px;
    }

    a {
      color: $color-text;
    }
  }
}

@media #{$main-navigation-media-query} {
  #{$component-identifier} {
    display: block;

    &__navigation-item {
      &.m-primary {
        &.is-active {
          font-weight: 600;
        }
      }

      &.m-secondary {
        &.is-active {
          background-color: $color-gray1;
        }

        &:hover {
          background-color: $color-gray1;
        }
      }
    }
  }
}

$component-identifier: '';
