// //gray palette
// $color-gray1: rgb(240, 240, 240) !default;
// $color-gray2: rgb(215, 215, 215) !default;
// $color-gray3: rgb(190, 190, 190) !default;
// $color-gray4: rgb(160, 160, 160) !default;
// $color-gray5: rgb(100, 100, 100) !default;
// $color-gray6: rgb(60, 60, 60) !default;

// //green palette
// $color-green1: rgb(83, 161, 65) !default;

// //blue palette
// $color-blue1: rgb(57, 145, 247) !default;
// $color-blue2: rgb(58, 174, 195) !default;
// $color-blue3: rgb(32, 43, 51) !default;

// //orange palette
// $color-orange1: rgb(232, 140, 0) !default;

// //red palette
// $color-red1: rgb(234, 51, 25) !default;

// //general colors
// $color-white: rgb(255, 255, 255) !default;
// $color-black: rgb(0, 0, 0) !default;
// $color-transparent: rgba(0, 0, 0, 0) !default;

// //text colors
// $color-light-text: rgb(240, 240, 240) !default;
// $color-light-secondary-text: rgb(200, 200, 200) !default;
// $color-light-disabled-text: rgb(150, 150, 150) !default;
// $color-dark-text: rgb(15, 15, 15) !default;
// $color-dark-secondary-text: rgb(85, 85, 85) !default;
// $color-dark-disabled-text: rgb(150, 150, 150) !default;

//grays
$color-gray1: rgb(230, 230, 230);

//blues
$color-blue1: rgb(32, 43, 51);
$color-blue2: rgb(58, 174, 195);

//text colors
$color-light-text: rgb(240, 240, 240) !default;
$color-light-secondary-text: rgb(200, 200, 200) !default;
$color-light-disabled-text: rgb(150, 150, 150) !default;
$color-dark-text: rgb(15, 15, 15) !default;
$color-dark-secondary-text: rgb(85, 85, 85) !default;
$color-dark-disabled-text: rgb(150, 150, 150) !default;

$gray-lightest: rgb(230, 230, 230);
