@import 'src/styles/framework/_variables';

.container {
  border: 0;
  vertical-align: top;
}

.leftAligned {
  text-align: left;
}

.centerAligned {
  text-align: center;
}

.rightAligned {
  text-align: right;
}
