@import 'src/styles/framework/_variables';

.container {
  width: 100%;
  text-align: center;
}

.leftAligned {
  text-align: left;
}

.rightAligned {
  text-align: right;
}

.isVertical {
  text-align: left;
}
