$component-identifier: '.accordion';

#{$component-identifier} {
  display: inline-block;

  &__item {
    &.is-active {
      #{$component-identifier}__item-content {
        display: block;
      }
    }

    &-header {
      cursor: pointer;
      background-color: $color-gray2;
      padding: $spacing-tiny $spacing-small;
      margin-bottom: $spacing-tiny;

      .svg-icon__outer-container {
        margin-left: $spacing-tiny;
      }
    }

    &-content {
      display: none;
    }
  }
}

$component-identifier: '';
