@mixin button-apply-base-colors($light, $dark) {
  color: $light;
  background-color: $dark;
  border-color: $dark;
}

@mixin button-apply-hover-colors($light, $hover) {
  background-color: $hover;
  border-color: $hover;
  color: $light;
}

@mixin button-apply-svg-icon-colors($light) {
  fill: $light;
}

@mixin button-apply-thin-colors($dark) {
  color: $dark;
  background-color: $color-white;
  border-color: $dark;
}
