@mixin button-apply-base-colors($light, $dark) {
  color: $light;
  background-color: $dark;
  border-color: $dark;
}

@mixin button-apply-hover-colors($light, $hover) {
  background-color: $hover;
  border-color: $hover;
  color: $light;
}

@mixin button-apply-svg-icon-colors($light) {
  fill: $light;
}

@mixin button-apply-thin-colors($dark) {
  color: $dark;
  background-color: $color-white;
  border-color: $dark;
}

//#{$component-identifier} {
//  .svg-icon__container {
//    fill: $color-button;
//  }
//

//}
//
//.button-group {
//  .button {
//    margin: 0;
//    border-radius: 0;
//
//    &:not(:last-child) {
//      margin-right: 1px;
//    }
//
//    &:first-child {
//      @include border-left-radius($border-radius-button);
//    }
//
//    &:last-child {
//      @include border-right-radius($border-radius-button);
//
//      border-right-width: 2px;
//    }
//  }
//}
