$component-identifier: '.drop-down-menu';

#{$component-identifier} {
  background-color: $color-white;
  border: 1px solid $color-gray4;
  border-radius: 3px;

   &__header,
   &__item,
   &__divider {
    padding: 6px 12px;
  }

  &__header {
    color: $color-muted-text;
  }

  &__divider {
    padding: 0 12px;
    height: 1px;
    border-bottom: 1px solid $color-gray4;
  }

  &__item {
    cursor: pointer;

    &:hover {
      background-color: $color-info;
      color: $color-light-text;
    }
  }
}

$component-identifier: '';
