$component-identifier: '.file-upload-drap-drop';

#{$component-identifier} {
  border: 3px dashed $color-light-info;
  padding: 16px 32px;
  text-align: center;
  font-size: 2rem;
  border-radius: 3px;
  display: inline-block;

  &.is-clickable:hover,
  &.is-over {
    cursor: pointer;
    border-color: $color-info;
  }
}

$component-identifier: '';
