@mixin form-checkable-label-styles() {
  display: flex;
  align-items: center;
  padding: ($padding-input / 2) 0;
  font-weight: 400;
}

@mixin form-checkable-svg-icon-container() {
  fill: $color-blue2;
}

@mixin form-checkable-svg-icon-container-disabled() {
  fill: $color-gray4;
}

@mixin form-checkable-svg-icon-container-right-aligned() {
  margin-left: 4px;
}

@mixin form-checkable-svg-icon-container-left-aligned() {
  margin-right: 4px;
}

@mixin form-validation-color($normal) {
  color: $normal;
}

@mixin form-validation-icon-color($normal) {
  fill: $normal;
}

@mixin form-validation-background-color($light, $dark) {
  border-color: $dark;
  background-color: $light;
}

@mixin form-standard-input-styles() {
  width: 100%;
  border-radius: $border-radius-input;
  outline: none;
  border: 1px solid $border-color-input;
  padding: $padding-input ($padding-input * 2);

  &:focus {
    border-color: $border-color-focus-input;
  }
}

@mixin form-element-required-icon() {
  height: $size-required-icon-input;
  width: $size-required-icon-input;
  fill: $color-danger;
  position: relative;
  left: 3px;
  top: -5px;
}

// NOTE: not sure why but sass errors out on this so just embedding this code into the mixins that would need it
//@function form-checkbox-circle-radius($height, $spacing) {
//  @return ($height - ($spacing * 2));
//}

@mixin form-checkbox-toggle-bar-sizer($height: 24px, $width: 50px, $spacing: 4px) {
  height: $height;
  width: $width;
  line-height: $height;
  padding: 0 ($spacing + 5) 0 0;
}

@mixin form-checkbox-toggle-bar-is-checked-sizer($spacing: 4px) {
  padding: 0 0 0 ($spacing + 5);
}

@mixin form-checkbox-toggle-circle-sizer($height: 24px, $spacing: 4px) {
  $circle-radius: ($height - ($spacing * 2));

  height: $circle-radius;
  width: $circle-radius;
  transform: translateX($spacing) translateY($spacing);
}

@mixin form-checkbox-toggle-circle-is-checked-sizer($height: 24px, $width: 50px, $spacing: 4px) {
  $circle-radius: ($height - ($spacing * 2));

  transform: translateX(($width - ($circle-radius + $spacing))) translateY($spacing);
}
