$component-identifier: '.kanban-board';

#{$component-identifier} {
  display: flex;

  &__swimlane {
    flex: 1;
    border: 1px solid $border-color;
    margin: 0 $spacing-extra-small;

    &-item {
      background-color: $color-gray2;
      padding: $spacing-tiny;
    }
  }
}

$component-identifier: '';
