$component-identifier: '.modal';

$z-index-modal: 10001;

body.modal-open {
  overflow: hidden;
}

#{$component-identifier} {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-index-modal;

  &.is-active {
    display: block;
  }

  &__container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: $color-white;

    //NOTE: need to be twice the top to have even top / bottom spacing
    max-height: calc(100% - 75px * 2);
    width: 900px;
    position: relative;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__header {
    @include flexbox-value-height(65px);

    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    padding: $spacing-extra-small;
    border-bottom: 1px solid $border-color;

    &-close {
      margin-left: auto;
      cursor: pointer;
    }
  }

  &__content {
    padding: $spacing-extra-small;
    overflow-y: auto;
  }

  &__footer {
    @include flexbox-value-height(60px);

    display: flex;
    align-items: center;
    padding: $spacing-extra-small;
    border-top: 1px solid $border-color;
  }
}

$component-identifier: '';
