$component-identifier: '.modal';

$background-color-modal: $color-white;
$border-radius-modal: 5px;
$margin-top-bottom-modal: 25px;
$padding-modal: 16px;
$z-index-modal: 10001;
$background-header-footer-color: $color-white;
$color-header-footer-modal: $color-dark-text;

.modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
  z-index: $z-index-modal;
  -webkit-overflow-scrolling: touch;

  &.is-active {
    display: block;
  }

  &.is-scrollable {
    #{$component-identifier} {
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;

      &__content {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
      }
    }
  }

  &.has-auto-center .modal {
    position: absolute;

    max-height: 90%;

    //NOTE: javascript applied the negative margins to create the center effect with this
    top: 50%;
    left: 50%;
  }
}

body.modal-open {
  overflow: hidden;

  &.ios-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

#{$component-identifier} {
  position: relative;

  &__header {
    display: flex;
    padding: $padding-modal;
    margin: 0;
    background-color: $background-header-footer-color;
    color: $color-header-footer-modal;
    border-bottom: 1px solid $color-gray4;

    &-close {
      margin-left: auto;
      align-self: center;

      .svg-icon__container {
        fill: $color-header-footer-modal;
      }
    }
  }

  &__content {
    padding: $padding-modal;
    background-color: $background-color-modal;
  }

  &__footer {
    display: flex;
    padding: $padding-modal;
    background-color: $background-header-footer-color;
    color: $color-header-footer-modal;
    border-top: 1px solid $color-gray4;

    &.is-actions {
      justify-content: flex-end;
    }
  }
}

@media #{$small-screen-only-media-query} {
  #{$component-identifier} {
    height: 100%;
    background-color: $background-header-footer-color;
  }
}

@media #{$medium-screen-media-query} {
  #{$component-identifier} {
    width: 600px;
    margin: $margin-top-bottom-modal auto;
    border-radius: $border-radius-modal;

    &__header {
      @include border-top-radius($border-radius-modal);
    }

    &__content {
      &:first-child {
        @include border-top-radius($border-radius-modal);
      }

      &:last-child {
        @include border-bottom-radius($border-radius-modal);
      }
    }

    &__footer {
      @include border-bottom-radius($border-radius-modal);
    }
  }
}

$component-identifier: '';
