@mixin notification-colors($dark-color) {
  border: 2px solid $dark-color;
  background-color: $background-color-notification;
  overflow: hidden;
  position: relative;
}

@mixin notification-colors-filled($dark-color) {
  border: none;
  background-color: lighten($dark-color, 20%);
  color: $color-white;
}

@mixin notification-icon-colors($dark-color) {
  fill: $dark-color;
}

@mixin notification-icon-colors-filled() {
  fill: $color-white;
}

@mixin notification-actions-colors($dark-color) {
  color: $dark-color;
}

@mixin notification-actions-colors-filled() {
  color: $color-white;
}
