$component-identifier: '.tooltip';

#{$component-identifier} {
  padding: 4px;
  color: $color-light-text;
  background-color: rgba(10, 10, 10, .8);
  border-radius: 3px;
}

$component-identifier: '';
