h1 {
  font-size: 3.6rem;
  font-weight: 500;
}

h2 {
  font-size: 3rem;
  font-weight: 500;
}

h3 {
  font-size: 2.4rem;
  font-weight: 500;
}

h4 {
  font-size: 1.8rem;
  font-weight: 500;
}

h5 {
  font-size: 1.4rem;
  font-weight: 500;
}

h6 {
  font-size: 1.2rem;
  font-weight: 500;
}

a {
  color: $color-link;

  &:hover {
    text-decoration: underline;
  }
}

p {
  padding: 0 0 8px 0;
}

.u-muted-text {
  color: $color-muted-text !important;
}

.u-success-text {
  color: $color-success !important;
}

.u-info-text {
  color: $color-info !important;
}

.u-warning-text {
  color: $color-warning !important;
}

.u-danger-text {
  color: $color-danger !important;
}
