.u-hide {
  display: none !important;
}

.u-invisible {
  visibility: hidden !important;
}

.u-underline {
  text-decoration: underline !important;
}

.u-display-text-pre-wrap {
  white-space: pre-wrap !important;
}

.u-full-height {
  height: 100% !important;
}

.u-full-width {
  width: 100% !important;
}

.u-margin-center-vertical {
  margin: 0 auto !important;
}

.u-text-align-left {
  text-align: left !important;
}

.u-text-align-center {
  text-align: center !important;
}

.u-text-align-right {
  text-align: right !important;
}

.u-text-align-justify {
  text-align: justify !important;
}

$temp-size: 5;

@while $temp-size <= 100 {
  .margin-bottom-#{$temp-size} {
    margin-bottom: #{$temp-size}px;
  }

  $temp-size: $temp-size + 5;
}

//TODO: need grid in place to enable these
// @media #{$small-screen-only-media-query} {
//   .u-hide-small {
//     display: none !important;
//   }
// }

// @media #{$medium-screen-only-media-query} {
//   .u-hide-medium {
//     display: none !important;
//   }
// }

// @media #{$large-screen-only-media-query} {
//   .u-hide-large {
//     display: none !important;
//   }
// }

// @media #{$extra-large-screen-media-query} {
//   .u-hide-extra-large {
//     display: none !important;
//   }
// }
