$component-identifier: '.wizard';

#{$component-identifier} {
  &__step-indicator-container {
    display: inline-flex;
    align-items: center;
    margin-right: auto;

    hr {
      display: inline-block;
      width: 12px;
      border-bottom: 3px solid $color-neutral;
      height: 3px;

      //NOTE: this prevents small lines showing between the hr border the the circle elements
      margin-left: -1px;
      margin-right: -1px;

      &.is-previous {
        border-color: $color-light-info;
      }
    }
  }

  &__step-indicator {
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 999px;
    border: 2px solid $color-neutral;

    &.is-previous,
    &.is-current {
      background-color: $color-light-info;
      border-color: $color-light-info;
    }
  }
}

$component-identifier: '';
