$component-identifier: '.wizard';

.modal__wrapper.m-wizard .modal__container{
  display: flex;

  #{$component-identifier}__navigation {
    @include flexbox-value-width(200px);
    border-right: 1px solid $border-color;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .svg-icon__outer-container {
      display: flex;
      justify-content: flex-end;
      border-top: 1px solid $border-color;
      padding: $spacing-small
    }

    &.is-collapsed {
      @include flexbox-value-width(48px);

      #{$component-identifier}__step-indicator {
        &-title {
          display: none
        }
      }
    }
  }

  #{$component-identifier}__content {
    flex: 1;
  }
}

#{$component-identifier} {
  &__step-indicator-container {
    display: inline-flex;
    align-items: center;
    margin-right: auto;
    padding: $spacing-small;

    hr {
      display: block;
      width: 2px;
      background-color: $color-neutral;
      height: 16px;

      margin: 0 0 0 7px;

      &.is-previous {
        background-color: $color-green4;
      }
    }
  }

  &__step-indicator {
    display: flex;
    align-items: center;

    &-title {
      margin-left: $spacing-small;
    }

    &-circle {
      display: inline-block;
      height: 16px;
      width: 16px;
      border-radius: 999px;
      border: 2px solid $color-neutral;

      &.is-previous {
        background-color: $color-green4;
        border-color: $color-green4;
      }

      &.is-current {
        border-color: $color-green4;
      }
    }
  }
}

$component-identifier: '';
