html, body {
  background-color: $gray-lightest;
  height: 100%
}

.react-bootstrap-element {
  height: 100%;
}

.application-container {
  display: flex;
  min-height: 100%;
}

.main-application {
  flex: 1
}
