.badge {
  display: inline-block;
  padding: 2px 5px;
  background-color: $color-neutral;
  border-radius: $border-radius-medium;
  color: $color-white;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin: 5px;

  &.m-pill {
    border-radius: 999px;
  }

  &.m-safe {
    background-color: $color-safe;
  }

  &.m-notice {
    background-color: $color-notice;
  }

  &.m-warning {
    background-color: $color-warning;
  }

  &.m-danger {
    background-color: $color-danger;
  }
}
