$background-color-button-default: $color-gray4 !default;
$color-default-button: $color-white !default;

$background-color-safe-button: $color-safe !default;
$color-safe-button: $color-white !default;

$background-color-notice-button: $color-notice !default;
$color-notice-button: $color-white !default;

$background-color-warning-button: $color-warning !default;
$color-warning-button: $color-white !default;

$background-color-danger-button: $color-danger !default;
$color-danger-button: $color-white !default;

button {
  color: $color-default-button;
  background-color: $background-color-button-default;
  border-radius: $border-radius-small;
  position: relative;
  border: none;
  font-weight: 400;
  cursor: pointer;
  vertical-align: middle;
  font-size: 1.3rem;
  padding: 4px 12px;
  margin: 5px;

  &:hover:not([disabled]) {
    background-color: darken($background-color-button-default, 10%);
  }

  &:active:not([disabled]) {
    background-color: darken($background-color-button-default, 20%);
  }

  &:focus {
    outline: none;
  }

  &.m-safe {
    color: $color-safe-button;
    background-color: $background-color-safe-button;

    &:hover:not([disabled]) {
      background-color: darken($background-color-safe-button, 10%);
    }

    &:active:not([disabled]) {
      background-color: darken($background-color-safe-button, 20%);
    }
  }

  &.m-notice {
    color: $color-notice-button;
    background-color: $background-color-notice-button;

    &:hover:not([disabled]) {
      background-color: darken($background-color-notice-button, 10%);
    }

    &:active:not([disabled]) {
      background-color: darken($background-color-notice-button, 20%);
    }
  }

  &.m-warning {
    color: $color-warning-button;
    background-color: $background-color-warning-button;

    &:hover:not([disabled]) {
      background-color: darken($background-color-warning-button, 10%);
    }

    &:active:not([disabled]) {
      background-color: darken($background-color-warning-button, 20%);
    }
  }

  &.m-danger {
    color: $color-danger-button;
    background-color: $background-color-danger-button;

    &:hover:not([disabled]) {
      background-color: darken($background-color-danger-button, 10%);
    }

    &:active:not([disabled]) {
      background-color: darken($background-color-danger-button, 20%);
    }
  }

  &[disabled] {
    opacity: .5;
    cursor: not-allowed;
  }

  &.m-square {
    border-radius: 0;
  }
}
