$component-identifier: '.calendar';

#{$component-identifier} {
  .form-element {
    display: inline-block;
  }

  &__controls,
  &__week-row,
  &__days-of-week {
    @include display(flex);
    @include justify-content(space-around);
  }

  &__control {
    display: inline-block;

    &:nth-child(1) {
      min-width: 100px;
      margin-right: 8px;
    }

    &:nth-child(2) {
      margin-left: 8px;
    }
  }

  #{$component-identifier}__controls + #{$component-identifier}__calendar {
    margin-top: 16px;
  }

  &__week-row {
    &.is-selected {
      background-color: $color-gray2;
    }
  }

  &__header {
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
  }

  &__calendar {
    border: 1px solid $color-gray2;
    border-right: none;
    border-bottom: none;
  }

  &__day-of-week,
  &__week-day {
    @include flex(1);

    //this prevent IE from making the boxes too small
    min-width: 25px;
    display: inline-block;
    padding: 5px;
    text-align: center;
    border: 1px solid $color-gray2;
    border-top: none;
    border-left: none;
    border-collapse: collapse;
  }

  &__week-day {
    cursor: pointer;

    &.m-next-month,
    &.m-previous-month {
      color: $color-neutral;
    }

    &.is-selected {
      background-color: $color-gray2;
    }
  }

  &.m-day-selection {
    #{$component-identifier}__week-day:hover {
      background-color: $color-primary2;
    }
  }

  &.m-week-selection {
    #{$component-identifier}__week-row:hover {
      background-color: $color-primary2;
    }
  }
}

$component-identifier: '';
