$component-identifier: ".drop-down";

$border-color-drop-down: $color-black !default;
$background-color-drop-down: $color-white !default;

#{$component-identifier} {
  display: inline-block;
  position: relative;

  &.m-inline-flex {
    @include display(inline-flex);

    #{$component-identifier}__handle {
      @include display(inline-flex);
    }
  }

  &__handle {
    cursor: pointer;
  }

  &__content {
    //NOTE: using absolute while hidden allows the javascript to get the correct width needed by the content
    position: absolute;
    visibility: hidden;
    z-index: -1;
    border-radius: $border-radius-small;
    border: 1px solid $border-color-drop-down;
    background-color: $background-color-drop-down;
    margin-top: 10px
  }

  &__triangle {
    @include triangle(12px, $border-color-drop-down, up);

    position: absolute;
    top: -6px;
    left: 20px;
    z-index: 3;

    &.m-right {
      left: auto;
      right: 20px;
    }
  }

  &__triangle-inner {
    @include triangle(10px, $background-color-drop-down, up);

    position: absolute;
    top: -5px;
    left: 21px;
    z-index: 3;

    &.m-right {
      left: auto;
      right: 21px;
    }
  }

  &.is-active #{$component-identifier}__content {
    position: absolute;
    visibility: visible;

    z-index: 1;
  }
}

$component-identifier: "";

