.form-element.m-invalid {
  .extend-text__value-container {
    background-color: $color-light-danger;
    border-color: $color-dark-danger;
  }
}

.form-element.m-valid {
  .extend-text__value-container {
    background-color: $color-light-safe;
    border-color: $color-dark-safe;
  }
}

.extend-text {
  @include display(flex);
  @include flex-direction(column);

  position: relative;

  &.is-active {
    .extend-text__value-container {
      border-color: $color-primary1;
    }

    &:not(.m-display-no-results) .extend-text__value-container {
      border-radius: $border-radius-medium $border-radius-medium 0 0;
    }

    .extend-text__auto-complete-container {
      display: block;
    }
  }

  li {
    cursor: pointer;
  }

  .form-element__input.m-text {
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
  }

  .extend-text__value-container {
    @include flex(1);

    position: relative;
    margin: 5px 0;
    border: 1px solid $color-gray2;
    border-radius: $border-radius-medium;
    padding: 4px 20px 4px 6px;
    background-color: $color-white;
    cursor: text;
  }

  .extend-text__tag-container {
    display: inline-block;
  }

  .extend-text__tag {
    display: inline-block;
    margin: 2px 8px 2px 2px;
    position: relative;
    background-color: $color-primary1;
    border: $color-black;
    border-radius: $border-radius-small;
    padding: 2px 4px;

    &.selected {
      border-color: $color-dark-danger;
    }

    &:last-child {
      margin-right: 4px;
    }

    .extend-text__tag-remove {
      cursor: pointer;
      margin-left: 4px;
      width: 10px;
      height: 10px;
      fill: $color-text;
    }
  }

  .extend-text__display-input {
    z-index: $z-index-extend-text;
    overflow: hidden;
    margin: 0;
    resize: none;
    width: 100%;
  }

  .extend-text__auto-complete-container {
    position: absolute;
    border: 1px solid $color-primary1;
    background-color: $color-white;
    z-index: $z-index-extend-text;
    border-top: none;
    max-height: 300px;
    overflow: auto;
    width: calc(100% + 2px);
    border-radius: 0 0 $border-radius-medium $border-radius-medium;
    display: none;

    li {
      padding: 3px 6px;
    }

    .is-focused {
      background-color: transparentize($color-secondary2, .5);
    }
  }

  .extend-text__empty-indicator {
    text-align: center;
  }

  .extend-text__loading-indicator {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .extend-text__drop-down-indicator {
    position: absolute;
    top: 7px;
    right: 6px;
    height: 11px;
    width: 11px;
  }

  .extend-text__loading-indicator-svg {
    @include animation(spin .4s linear infinite);
  }
}
