.extend-text {
  @include display(flex);
  @include align-items(center);

  position: relative;

  &.is-active {
    .extend-text__value-container {
      border-color: $color-primary1;
    }

    &:not(.m-display-no-results) .extend-text__value-container {
      border-radius: $border-radius-extend-text $border-radius-extend-text 0 0;
    }

    .extend-text__auto-complete-container {
      display: block;
    }
  }

  &.m-valid {
    .extend-text__auto-complete-container {
      border-color: $color-safe;
      background-color: transparentize($color-safe, 0.97);
    }

    .extend-text__value-container {
      border-color: $color-safe;
      background-color: transparentize($color-safe, 0.97);
    }

    .extend-text__validation-icon {
      fill: $color-safe;
    }
  }

  &.m-invalid {
    .extend-text__auto-complete-container {
      border-color: $color-danger;
      background-color: transparentize($color-danger, 0.97);
    }

    .extend-text__value-container {
      border-color: $color-danger;
      background-color: transparentize($color-danger, 0.97);
    }

    .extend-text__validation-icon {
      fill: $color-danger;
    }
  }

  li {
    cursor: pointer;
  }

  .form-element__input.m-text {
    padding: 0;
    border: none;
    border-radius: 0;
      background-color: transparent;
  }

  .extend-text__value-container {
    @include flex(1);
    position: relative;
    //width: 100%;
    margin: 5px 0;
    border: 1px solid $color-gray2;
    border-radius: 5px;
    padding: 4px 6px;
    background-color: $color-white;
    cursor: text;
  }

  .extend-text__validation-icon {
    @include flexbox-value-width(0 0 16px);
    margin: 0 5px;
  }

  .extend-text__tag-container {
    display: inline-block;
  }

  .extend-text__tag {
    display: inline-block;
    margin: $margin-tag-tagging;
    position: relative;
    background-color: $background-color-tag-tagging;
    border: $border-tag-tagging;
    border-radius: $border-radius-tag-tagging;
    padding: $padding-tag-tagging;

    &.selected {
      border-color: $border-color-selected-tag-tagging;
    }

    &:last-child {
      margin-right: 4px;
    }

    .extend-text__tag-remove {
      cursor: pointer;
      margin-left: 4px;
      width: $width-tag-remove-icon-tagging;
      height: $height-tag-remove-icon-tagging;
    }
  }

  .extend-text__display-input {
    z-index: $z-index-extend-text;
    overflow: hidden;
    margin: 0;
    resize: none;
    width: 100%;
  }

  .extend-text__auto-complete-container {
    position: absolute;
    border: $border-options-auto-complete;
    background-color: $background-color-options-auto-complete;
    z-index: $z-index-extend-text;
    border-top: none;
    max-height: $max-height-options-auto-complete;
    overflow: auto;
    width: calc(100% + 2px);
    border-radius: 0 0 $border-radius-extend-text $border-radius-extend-text;
    display: none;

    li {
      padding: $padding-option-auto-complete;
    }

    .is-focused {
      background-color: $background-color-option-is-focused-auto-complete;
    }
  }

  .extend-text__empty-indicator {
    text-align: center;
  }

  .extend-text__new-indicator,
  .extend-text__loading-indicator {
    position: absolute;
    top: $top-new-indicator-extend-text;
    right: $right-new-indicator-extend-text;
  }
}
