// .form-inline {
//   label {
//     margin-right: 5px;
//   }
// }

.input-group {
  width: 100%;
}

.form-inline .input-group-vertical .input-group-addon {
  display: inline-block;
  width: 100%;
}

.form-inline .input-group-vertical,
.input-group-vertical {
  display: block;

  .form-control:first-child {
    border-radius: 4px 4px 0 0;
  }

  .form-control:last-child {
    border-radius: 0 0 4px 4px;
  }

  .input-group-addon {
    overflow: hidden;

    &:first-child {
      border-bottom: none;
      border-right: $input-btn-border-width solid $input-group-addon-border-color;;
      border-radius: 4px 4px 0 0;
    }

    &:last-child {
      border-top: none;
      border-left: $input-btn-border-width solid $input-group-addon-border-color;;
      border-radius: 0 0 4px 4px;
    }
  }
}

.form-textbox-counter {
  &-right {
    .form-textbox-counter__counter {
      text-align: right;
    }
  }

  &__counter {
    font-size: 11px;
  }
}
