$component-identifier: '.form-element';

#{$component-identifier} {
  label {
    display: inline-block;
  }


  .svg-icon__outer-container.checkbox-empty-icon,
  .svg-icon__outer-container.checkbox-checked-icon,
  .svg-icon__outer-container.radio-empty-icon,
  .svg-icon__outer-container.radio-checked-icon {
    &.m-left {
      margin: 5px 0 5px 5px;
    }

    &.m-right {
      margin: 5px 5px 5px 0;
    }
  }

  &.m-inline.m-radio {
    @include display(inline-flex);
    @include align-items(center);

    #{$component-identifier}__field-container {
      @include display(inline-flex);

      margin-left: 8px;
    }
  }

  &__input.m-text,
  &__input.m-select,
  &__input.m-textarea {
    width: 100%;
    margin: 5px 0;
    border: 1px solid $color-gray2;
    border-radius: $border-radius-medium;
    padding: 4px 6px;

    &:focus {
      outline: none;
      border-color: $color-primary1;
    }
  }

  &__input.m-select {
    background-color: $color-white;
  }

  &__input.m-checkbox,
  &__input.m-radio {
    opacity: 0;
    height: 0;
    width: 0;
  }

  &__input.m-text.m-has-prepend {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &__input.m-text.m-has-append {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__input-group {
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-between);

    &-item {
      @include flexbox-value-width(100%);
    }
  }

  &__radio-group {
    @include display(flex);
    @include flex-wrap(wrap);
  }

  &__field-container {
    @include display(flex);
    @include align-items(center);

    #{$component-identifier}__input-container {
      @include flex(1);
    }

    #{$component-identifier}__validation-icon {
      @include flex(0 0 20px);
      margin: 0 5px;
      height: 20px;
    }

    .m-toggle {
      @include display(flex);
      @include align-items(center);
    }
  }

  &__input-prepend,
  &__input-append {
    @include align-self(stretch);
    @include flex(0 1 auto);
    @include display(flex);
    @include align-items(center);
    @include justify-content(space-around);

    margin: 5px 0;
    background-color: $color-gray2;
    padding: 3px 6px;
  }

  &__input-prepend {
    border-radius: $border-radius-medium 0 0 $border-radius-medium;
  }

  &__input-append {
    border-radius: 0 $border-radius-medium $border-radius-medium 0;
  }

  &.m-valid {
    #{$component-identifier}__input.m-text,
    #{$component-identifier}__input.m-select,
    #{$component-identifier}__input.m-textarea {
      border-color: $color-safe;
      background-color: $color-light-safe;
    }

    #{$component-identifier}__validation-icon,
    .svg-icon__outer-container.checkbox-empty-icon .svg-icon__container,
    .svg-icon__outer-container.checkbox-checked-icon .svg-icon__container,
    .svg-icon__outer-container.radio-empty-icon .svg-icon__container,
    .svg-icon__outer-container.radio-checked-icon .svg-icon__container {
      fill: $color-safe;
    }
  }

  &.m-invalid {
    #{$component-identifier}__input.m-text,
    #{$component-identifier}__input.m-select,
    #{$component-identifier}__input.m-textarea {
      border-color: $color-danger;
      background-color: $color-light-danger;
    }

    #{$component-identifier}__validation-icon,
    .svg-icon__outer-container.checkbox-empty-icon .svg-icon__container,
    .svg-icon__outer-container.checkbox-checked-icon .svg-icon__container,
    .svg-icon__outer-container.radio-empty-icon .svg-icon__container,
    .svg-icon__outer-container.radio-checked-icon .svg-icon__container {
      fill: $color-danger;
    }
  }
}

form.m-inline {
  #{$component-identifier} {
    @include display(inline-flex);
    @include align-items(center);

    &__field-container {
      @include flex(1);
    }
  }

  label:not(.m-toggle) {
    width: auto;
    text-align: right;
    padding-right: 10px;
  }
}

@media #{$medium-screen-media-query} {
  #{$component-identifier} {
    &__input-group {
      &.m-align-start {
        @include justify-content(flex-start);

        #{$component-identifier}__input-group-item {
          @include flex(0 1 auto);
        }

        //NOTE: this fixes some issues in IE 10+
        label {
          @include flex-basis(auto);
        }
      }

      &-item {
        @include flex(1);

        &:not(:first-child) {
          margin-left: 10px;
        }
      }
    }
  }
}

$component-identifier: '';
