$component-identifier: '.global-notification';

#{$component-identifier} {
  position: fixed;
  z-index: $z-index-global-notifications;

  &.m-top-left {
    top: 0;
    left: 0;
  }

  &.m-top-center {
    top: 0;
    left: 0;
    width: 100%;

    #{$component-identifier}__item {
      margin: 0 auto;
    }
  }

  &.m-top-right {
    top: 0;
    right: 0;
  }

  &.m-bottom-left {
    bottom: 0;
    left: 0;
  }

  &.m-bottom-center {
    bottom: 0;
    left: 0;
    width: 100%;

    #{$component-identifier}__item {
      margin: 0 auto;
    }
  }

  &.m-bottom-right {
    bottom: 0;
    right: 0;
  }

  &__item {
    @include display(flex);

    width: 300px;
    background-color: $color-light-neutral;
    color: $color-neutral;
    border: 1px solid $color-dark-neutral;
    padding: 10px;

    .svg-icon__container {
      fill: $color-neutral;
    }

    &.m-safe {
      background-color: $color-light-safe;
      color: $color-safe;
      border-color: $color-dark-safe;

      .svg-icon__container {
        fill: $color-safe;
      }
    };

    &.m-notice {
      background-color: $color-light-notice;
      color: $color-notice;
      border-color: $color-dark-notice;

      .svg-icon__container {
        fill: $color-notice;
      }
    };

    &.m-warning {
      background-color: $color-light-warning;
      color: $color-warning;
      border-color: $color-dark-warning;

      .svg-icon__container {
        fill: $color-warning;
      }
    };

    &.m-danger {
      background-color: $color-light-danger;
      color: $color-danger;
      border-color: $color-dark-danger;

      .svg-icon__container {
        fill: $color-danger;
      }
    };

    .svg-icon__container {
      margin-right: 8px;
    }
  }
}

$component-identifier: '';
