$component-identifier: '.flex-row';

#{$component-identifier} {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);

  &:not(.m-no-gutter) {
    margin-left: ($grid-gutter * -1);

    .m-has-margin {
      margin-left: ($grid-gutter / 2 * -1);
      margin-right: ($grid-gutter * -1);
    }

    #{$component-identifier}__cell {
      padding-left: $grid-gutter;
    }
  }

  &.m-vertical-align-start {
    @include align-items(flex-start);
  }

  &.m-vertical-align-center {
    @include align-items(center);
  }

  &.m-vertical-align-end {
    @include align-items(flex-end);
  }

  &.m-horizontal-align-start {
    @include justify-content(flex-start);
  }

  &.m-horizontal-align-center {
    @include justify-content(center);
  }

  &.m-horizontal-align-end {
    @include justify-content(flex-end);
  }

  &__cell {
    &.m-flex {
      @include display(flex);
    }

    @include flexbox-value-width(100%);

    &.m-vertical-align-start {
      @include align-self(flex-start);
    }

    &.m-vertical-align-center {
      @include align-self(center);
    }

    &.m-vertical-align-end {
      @include align-self(flex-end);
    }

    @for $i from 1 through $grid-small-columns {
      &.m-small-columns#{$i} {
        @include flexbox-value-width($i / $grid-small-columns * 100%);
      }
    }

    &-data {
      width: 100%;
    }
  }
}

@media #{$medium-screen-media-query} {
  #{$component-identifier} {
    @include flex-wrap(nowrap);

    &__cell {
      @include flex(1);

      @for $i from 1 through $grid-medium-columns {
        &.m-medium-columns#{$i} {
          @include flexbox-value-width($i / $grid-medium-columns * 100%);
        }
      }
    }
  }
}

@media #{$large-screen-media-query} {
  #{$component-identifier} {
    &__cell {
      @for $i from 1 through $grid-large-columns {
        &.m-large-columns#{$i} {
          @include flexbox-value-width($i / $grid-large-columns * 100%);
        }
      }
    }
  }
}

@media #{$extra-large-screen-media-query} {
  #{$component-identifier} {
    &__cell {
      @for $i from 1 through $grid-extra-large-columns {
        &.m-extra-large-columns#{$i} {
          @include flexbox-value-width(100%);
        }
      }
    }
  }
}

$component-identifier: '';
