.input-auto-sizer {
  position: relative;
  //display: inline-block;
  max-width: 100%;

  &__sizer,
  &__placeholder {
    position: absolute;
    display: inline-block;
    top: 0px;
    left: 0px;
    width: 0;
    height: 0;
    white-space: nowrap;
    visibility: hidden;
    max-width: 100%;
    overflow: hidden;
  }

  //IE 10+ issue fix
  input[type=text]::-ms-clear {
    display: none;
  }
}
