$component-identifier: '.loading-bar';

$height-loading-bar: 4px !default;

#{$component-identifier} {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $height-loading-bar;
  background-color: $color-transparent;
  z-index: $z-index-loading-bar;

  &__indicator {
    @include transition(width .5s linear);

    position: relative;
    display: block;
    height: $height-loading-bar;
    background-color: transparentize($color-danger, .2);
    box-shadow: 0 2px 3px $color-transparent2;
  }
}

$component-identifier: '';
