//TODO: refactor once we get animations in
.modal-backdrop {
  opacity: .5;
}

.modal-open {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@include media-breakpoint-down('sm') {
  .modal-dialog {
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
  }

  .modal-content {
    border-radius: 0 !important;
    border: none !important;
  }
}
