$component-identifier: '.modal';

#{$component-identifier} {
  //HACK: this is because of IE mobile
  //NOTE: while is would be nice to be able to have the modal component use the overlay component I ahve to copy the overlay base style here because for
  //NOTE: whatever reason, if the modal__content is fixed, IE mobile while start having the content and overlay jump around when scroll if there are other
  //NOTE: scrollable elements on the page so this is what I have to do to support IE mobile
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparentize($color-black, .5);
  z-index: $z-index-overlay;
  display: none;

  //TODO: add documentation for this case to test it
  //useful for want to have a revealing panel within an element in the page instead of on the page itself
  &.m-absolute {
    #{$component-identifier}__content {
      position: absolute;
    }
  }

  &.m-center {
    #{$component-identifier}__content {
      //90% match the javascript * .9, this value needs to be kept in sync with the javascript code
      max-height: 90%;
      max-width: 90%;

      //javascript handles add negative margins
      top: 50%;
      left: 50%;

      border-radius: $border-radius-medium;
      display: none;
      border: 1px solid $color-black;
    }
  }

  #{$component-identifier}__content {
    position: absolute;
    z-index: $z-index-content-modal;
    background-color: $color-white;
    overflow: auto;
    display: none;
    padding: 10px;
  }

  &.is-active {
    display: block;

    #{$component-identifier}__content {
      display: block;
    }
  }
}

$component-identifier: '';
