.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparentize($black, .5);
  z-index: 10000;
  display: none;

  &-absolute {
    position: absolute;
  }

  &.active {
    display: block;
  }
}
