.overlay{
  @include display(flex);
  @include align-items(center);
  @include justify-content(space-around);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $background-color-overlay;
  z-index: $z-index-overlay;

  &.m-absolute {
    position: absolute;
  }

  &__content {
    color: $color-white;
  }
}
