$component_identifier: '.pagination';

#{$component_identifier} {
  @include user-select(none);

  &__navigation,
  &__ellipse {
    display: inline-block;
    padding: 6px 12px;
  }

  &__navigation {
    cursor: pointer;

    &.is-active {
      color: $color-notice;
    }
  }

  &__previous .svg-icon,
  &__next .svg-icon {
    width: 12px;
    height: 12px;
  }

  &__pages {
    display: inline-block;
  }
}

$component_identifier: '';
