$component-identifier: '.progress-bar';

$height-progress-bar: 16px !default;

#{$component-identifier} {
  border: 1px solid $color-neutral;
  position: relative;
  display: inline-block;
  height: $height-progress-bar;
  overflow: hidden;
  cursor: pointer;
  border-radius: ($height-progress-bar / 2);

  &__indicator {
    position: absolute;
    display: block;
    height: $height-progress-bar;
    background-color: $color-neutral;
  }

  &.m-safe {
    border-color: $color-safe;

    #{$component-identifier}__indicator {
      background-color: $color-safe;
    }
  }

  &.m-notice {
    border-color: $color-notice;

    #{$component-identifier}__indicator {
      background-color: $color-notice;
    }
  }

  &.m-warning {
    border-color: $color-warning;

    #{$component-identifier}__indicator {
      background-color: $color-warning;
    }
  }

  &.m-danger {
    border-color: $color-danger;

    #{$component-identifier}__indicator {
      background-color: $color-danger;
    }
  }
}

$component-identifier: '';
