// .Select-control,
// .Select-placeholder,
// .Select--single > .Select-control .Select-value,
// .Select-input {
//   height: 30px;
//   font-size: 14px;
//   line-height: 24px;
// }

// .Select--multi .Select-value {
//   margin-left: 4px;
//   margin-top: 3px;
// }

//NOTE: prevent the auto complete list from appearing behind bootstrap inputs
.Select-menu-outer {
  z-index: 10;
}

.Select.Select-menu-top {
  .Select-menu-outer {
    top: auto;
    bottom: 100%;
    border-radius: 4px 4px 0 0;
    border: 1px solid #ccc;
    border-bottom-color: #e6e6e6;
    margin-top: 0;
    margin-bottom: -1px;
  }

  &.is-open > .Select-control {
    border-radius: 0 0 4px 4px;
  }
}
