.svg-icon-outer-container {
  @include display(inline-flex);
  @include user-select(none);

  &.has-clickability {
    cursor: pointer;

    &:not(.m-quiet) {
      padding: 6px;

      &.is-pressed {
        background-color: $color-transparent1;
        border-radius: 50%;
      }
    }
  }
}

.svg-icon-container {
  @include display(inline-flex);

  width: 16px;
  height: 16px;
  fill: $color-neutral;
}

.svg-icon {
  height: 100%;
  width: 100%;

  &.m-safe {
    fill: $color-safe;
  }

  &.m-notice {
    fill: $color-notice;
  }

  &.m-warning {
    fill: $color-warning;
  }

  &.m-danger {
    fill: $color-danger;
  }
}
