.svg-icon {
  &__outer-container {
    display: inline-flex;
    user-select: none;

    &.is-clickable {
      cursor: pointer;
    }
  }

  &__container {
    display: inline-flex;

    position: relative;
    width: 16px;
    height: 16px;
    fill: $text-color;

    &.m-success {
      fill: $success-color;
    }

    &.m-info {
      fill: $info-color;
    }

    &.m-warning {
      fill: $warning-color;
    }

    &.m-danger {
      fill: $danger-color;
    }
  }

  &__indicator {
    height: .9rem;
    width: .9rem;
    border-radius: 50%;
    border: 1px solid $white;
    position: absolute;
    top: -2px;
    right: -2px;
    background-color: $text-color;

    &.m-success {
      background-color: $success-color;
    }

    &.m-info {
      background-color: $info-color;
    }

    &.m-warning {
      background-color: $warning-color;
    }

    &.m-danger {
      background-color: $danger-color;
    }
  }

  height: 100%;
  width: 100%;
}
