.tooltip {
  &__content {
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
    border: 1px solid black;
    background-color: $color-white;
    z-index: 1001;

    &.m-fixed {
      position: fixed;
    }

    &.is-active {
      display: block;
    }
  }
}
