.u-headline {
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin: 24px 0;
    font-weight: 500;
}

.u-title {
    font-size: 2rem;
    line-height: 3.2rem;
    margin: 16px 0;
}

.u-sub-title {
    font-size: 1.6rem;
    margin: 8px 0;
}

.u-caption {
    font-size: 1.2rem;
    color: $color-secondary-text;
}

.u-safe-text {
    color: $color-safe;
}

.u-notice-text {
    color: $color-notice;
}

.u-warning-text {
    color: $color-warning;
}

.u-danger-text {
    color: $color-danger;
}
