.u-hide {
  display: none !important;
}

.u-invisible {
  visibility: hidden !important;
}

.u-underline {
  text-decoration: underline !important;
}

.u-display-text-pre-wrap {
  white-space: pre-wrap !important;
}

.u-full-height {
  height: 100% !important;
}

.u-full-width {
  width: 100% !important;
}

.u-margin-center-vertical {
    margin: 0 auto;
}

@media #{$small-screen-only-media-query} {
  .u-hide-small {
    display: none !important;
  }
}

@media #{$medium-screen-only-media-query} {
  .u-hide-medium {
    display: none !important;
  }
}

@media #{$large-screen-only-media-query} {
  .u-hide-large {
    display: none !important;
  }
}

@media #{$extra-large-screen-media-query} {
  .u-hide-extra-large {
    display: none !important;
  }
}
