//gray palette
$color-gray1: hsla(0.0, 0.0%, 96.1%, 1.0) !default;
$color-gray2: hsla(0.0, 0.0%, 87.8%, 1.0) !default;
$color-gray3: hsla(0.0, 0.0%, 74.1%, 1.0) !default;
$color-gray4: hsla(0.0, 0.0%, 62.0%, 1.0) !default;
$color-gray5: hsla(0.0, 0.0%, 38.0%, 1.0) !default;
$color-gray6: hsla(0.0, 0.0%, 25.9%, 1.0) !default;

//primary palette
$color-primary1: hsla(186.5, 100.0%, 37.8%, 1.0) !default;
$color-primary2: hsla(122.4, 39.4%, 49.2%, 1.0) !default;
$color-primary3: hsla(65.5, 70.0%, 54.3%, 1.0) !default;

//secondary palette
$color-secondary1: hsla(122.4, 39.4%, 45.2%, 1.0) !default;
$color-secondary2: hsla(206.6, 89.7%, 51.1%, 1.0) !default;
$color-secondary3: hsla(35.8, 100.0%, 47.0%, 1.0) !default;
$color-secondary4: hsla(4.1, 89.6%, 55.4%, 1.0) !default;

//general colors
$color-white: hsla(0, 0%, 100%, 1) !default;
$color-black: hsla(0, 0%, 0%, 1) !default;
$color-transparent: hsla(0, 0%, 0%, 0) !default;

//text colors
$color-text: hsla(0, 0%, 20%, 1) !default;
$color-light-text: hsla(0, 0%, 90%, 1) !default;

//neutral colors
$color-neutral: $color-gray4 !default;
$color-light-neutral: lighten($color-neutral, 40%) !default;
$color-dark-neutral: darken($color-neutral, 10%) !default;

//safe colors
$color-safe: $color-secondary1 !default;
$color-dark-safe: darken($color-safe, 5%) !default;
$color-light-safe: lighten($color-safe, 72%) !default;

//notice colors
$color-notice: $color-secondary2 !default;
$color-light-notice: lighten($color-notice, 50%) !default;
$color-dark-notice: darken($color-notice, 15%) !default;

//warning colors
$color-warning: $color-secondary3 !default;
$color-light-warning: lighten($color-warning, 43%) !default;
$color-dark-warning: darken($color-warning, 10%) !default;

//danger colors
$color-danger: $color-secondary4 !default;
$color-light-danger: lighten($color-danger, 38%) !default;
$color-dark-danger: darken($color-danger, 15%) !default;

//z-indexes
$z-index-container-tagging: 1 !default;
$z-index-extend-text: 2 !default;
$z-index-content-tooltip: 3 !default;
$z-index-calendar-date-picker: 1000 !default;
$z-index-absolute-overlay: 1600 !default;
$z-index-overlay: 1700 !default;
$z-index-notify: 1800 !default;
$z-index-non-blocking-site-loader: 1899 !default;
$z-index-site-loader: 1900 !default;
$z-index-content-modal: 2000 !default;

//font
$font-size: 1.3rem !default;
$font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !default;
//this variable is only used on body to prevent issues with Chrome
$font-size-body: 1.3em !default;

//forms
$text-align-compact-label: right !default;
$padding-compact-label: 0 10px 0 0 !default;
$border-radius-input: 5px !default;
$border-input: 1px solid $color-primary1 !default;
$padding-input: 4px !default;
$opacity-disabled-input: .7 !default;
$margin-label: 0 0 3px 0 !default;
$box-shadow-focused-input: 0 0 4px $color-dark-notice !default;
$height-select: 19px !default;
$background-color-input: $color-white !default;
$width-text-input: 100% !default;
$margin-radio-checkbox: 3px !default;
$box-shadow-invalid-input-element: 0 0 4px $color-dark-danger !default;
$box-shadow-valid-input-element: 0 0 4px $color-dark-safe !default;
$padding-input-element: 5px 0 !default;
$position-label-validator-input-element: relative !default;
$top-label-validitor-input-element: 3px !default;
$margin-label-validator-input-element: 0 0 0 5px !default;
$margin-message-input-element: 10px 0 0 0 !default;

//svg icons
$width-svg-icon: 16px !default;
$height-svg-icon: 16px !default;

//auto complete
$border-options-auto-complete: $border-input !default;
$background-color-options-auto-complete: $color-white !default;
$max-height-options-auto-complete: 300px !default;
$padding-option-auto-complete: 3px 6px !default;
$background-color-option-is-focused-auto-complete: transparentize($color-secondary2, .5) !default;
$box-shadow-options-valid-auto-complete: $box-shadow-valid-input-element !default;
$box-shadow-options-invalid-auto-complete: $box-shadow-invalid-input-element !default;

//overlay
$background-color-overlay: transparentize($color-black, .5);

//extend text
$border-radius-extend-text: 5px !default;
$top-new-indicator-extend-text: 0px !default;
$right-new-indicator-extend-text: 0px !default;

//tagging
$margin-tag-tagging: 2px 8px 2px 2px !default;
$background-color-tag-tagging: rgb(184, 215, 235) !default;
$border-tag-tagging: 1px solid rgb(95, 134, 142) !default;
$border-radius-tag-tagging: 2px !default;
$padding-tag-tagging: 2px 4px !default;
$border-color-selected-tag-tagging: rgb(255, 0, 0) !default;
$width-tag-remove-icon-tagging: 10px !default;
$height-tag-remove-icon-tagging: 10px !default;

//search query
$height-inputs-search-query: 25px !default;
$color-icon-empty-search-query: $color-gray6 !default;
$padding-textarea-search-query: 30px !default;
$top-tooltip-search-query: 4px !default;
$right-tooltip-search-query: 5px !default;
$text-align-tooltip-content-search-query: center !default;
$border-tooltip-content-search-query: 1px solid $color-gray4 !default;
$border-radius-tooltip-content-search-query: 5px !default;

//buttons
$border-radius-button: 3px !default;
$font-weight-button: 400 !default;
$opacity-disabled-button: 0.5 !default;

$background-color-button-default: $color-gray4 !default;
$color-default-button: $color-white !default;

$background-color-safe-button: $color-safe !default;
$color-safe-button: $color-white !default;

$background-color-notice-button: $color-notice !default;
$color-notice-button: $color-white !default;

$background-color-warning-button: $color-warning !default;
$color-warning-button: $color-white !default;

$background-color-danger-button: $color-danger !default;
$color-danger-button: $color-white !default;

$font-size-button: 1.3rem !default;
$padding-button: 4px 12px !default;

//progress bars
$border-progress-bar: 1px solid $color-neutral !default;
$height-progress-bar: 16px !default;
$border-radius-progress-bar: $height-progress-bar / 2 !default;
$background-color-indicator-progress-bar: $color-neutral !default;

//modal
$top-content-center-modal: 75px !default;
$border-radius-center-modal: 5px !default;
$border-modal: 1px solid $color-black !default;
$background-color-content-modal: $color-white !default;
$padding-content-modal: 10px !default;

//pagination
$color-navigation-active-pagination: $color-notice !default;
$icon-size-pagination: 12px !default;
$padding-item-pagination: 6px 12px !default;

//break points
$small-break-point: 640px !default;
$medium-break-point: 1023px !default;
$large-break-point: 1920px !default;

//media queries
$small-screen-media-query: "only screen" !default;
$small-screen-only-media-query: "only screen and (min-width: 1px) and (max-width: #{$small-break-point})" !default;
$small-screen-max-media-query: "only screen and (max-width: #{$small-break-point})" !default;
$medium-screen-media-query: "only screen and (min-width: #{$small-break-point + 1})" !default;
$medium-screen-only-media-query: "only screen and (min-width: #{$small-break-point + 1}) and (max-width: #{$medium-break-point})" !default;
$medium-screen-max-media-query: "only screen and (max-width: #{$medium-break-point})" !default;
$large-screen-media-query: "only screen and (min-width: #{$medium-break-point + 1})" !default;
$large-screen-only-media-query: "only screen and (min-width: #{$medium-break-point + 1}) and (max-width: #{$large-break-point})" !default;
$large-screen-max-media-query: "only screen and (max-width: #{$large-break-point})" !default;
$extra-large-screen-media-query: "only screen and (min-width: #{$large-break-point + 1})" !default;

//grid
$grid-small-columns: 12 !default;
$grid-medium-columns: 12 !default;
$grid-large-columns: 12 !default;
$grid-extra-large-columns: 12 !default;
$grid-gutter: 24px !default;
