//general colors
$white: rgb(255, 255, 255) !default;
$black: rgb(0, 0, 0) !default;
$transparent: rgba(0, 0, 0, 0) !default;

$text-color: black;
$success-color: green;
$info-color: blue;
$warning-color: orange;
$danger-color: red;

$color-gray4: gray;

$font-family: 'Roboto';
$font-size-body: 1.4rem;
